.profile-layout{
    -fx-background-color: #ffffff;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.semitransparent{
    -fx-background-color: rgba(0, 0, 0, 0.04);
}

/* styles.css */

/* Style for the vertical scroll bar */
.scroll-pane > .viewport > .scroll-bar:vertical {
    -fx-background-color: #f0f0f0;
}

.scroll-pane > .viewport > .scroll-bar:vertical > .thumb {
    -fx-background-color: #00aaff;
    -fx-background-radius: 5px;
}

.scroll-pane > .viewport > .scroll-bar:vertical > .increment-button,
.scroll-pane > .viewport > .scroll-bar:vertical > .decrement-button {
    -fx-background-color: transparent;
}

/* Style for the horizontal scroll bar */
.scroll-pane > .viewport > .scroll-bar:horizontal {
    -fx-background-color: #f0f0f0;
}

.scroll-pane > .viewport > .scroll-bar:horizontal > .thumb {
    -fx-background-color: #00aaff;
    -fx-background-radius: 5px;
}

.scroll-pane > .viewport > .scroll-bar:horizontal > .increment-button,
.scroll-pane > .viewport > .scroll-bar:horizontal > .decrement-button {
    -fx-background-color: transparent;
}

.color-overlay {
    -fx-background-color: rgba(0, 0, 0, 0.5); /* Black with 50% transparency */
}

